.all {
    width: 100%;
    height: 100%;
    background-color: rgba(64, 204, 122, 0.562); 
}
.allusers {
    margin-left: 5%;
    width: 90%;
    border: 1px solid black;
    /* border-collapse: collapse;  */
    background-color: rgba(149, 166, 184, 0.705);
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-spacing: 0ch;

    /* width: inherit; 
    margin: auto; */
}
.allusers td {
    /* border: 1px solid black; */
    width: auto;
    border-left: 3px solid rgb(185, 185, 185);
}
a {
    text-decoration: none;
    color: darkgreen;
    font-size: xx-large;
}
.allusers tr {
    border: 1px solid black;
}
.allusers tr:hover {
    background-color: darkcyan;
}
.allusers th {
    font-size: large;
    background-color: lightslategrey;
}
.space {
    width: 100%;
    height: 10%;
}
#btnvw, #btnvf, #btndl, #btnbc {
    width: 75px;
    height: 25px;
    border: none;
    border-radius: 2px;
    font-size: medium;
}
#btnvw {
    background-color: rgb(66, 161, 255);
}
#btnvf {
    background-color: rgb(131, 240, 128);
}
#btndl {
    background-color: rgb(248, 71, 106);
}
#btnbc {
    background-color: rgb(233, 127, 247);
}
.personadmin {
    display: flex;
    background-color: #a3ccf8e5;
    height: 100%;
    padding-left: 5%;
}
#abc {
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.statistics {
    width: 100%;
    height: 100%;
    background-color: rgb(227, 206, 247);
    padding-top: 10%;
}
.stat {
    width: 70%;
    height: 50%;
    font-size: 50px;
    margin-left: 15%;
}
.stat td {
    width: 50%;
    height: 50%;
    background-color: aqua;
}
.stat a {
    font-size: 40px;
}
.stat button {
    width: 100%;
    height: 100%;
    font-size: 60px;
}
#passtype {
    width: 320px;
    height: 250px;
}
#pptype1 {
    background-color: rgb(151, 184, 211);
}
#pptype2 {
    background-color: rgb(153, 211, 151);
}
#pptype3 {
    background-color: rgb(233, 170, 241);
}
#p1 {
    color: brown;
    
}
#p3 {
    color: rgb(75, 253, 75);
    /* border: 1px solid black; */
    text-shadow: 2px 1px 3px grey;
}
#logout a{
    font-size: large;
    color: purple;
}